{% extends 'base.html' %}

{% block title %}
    {% if type == 'note' %}
        Crear Nota
    {% elif type == 'cate' %}
        Crear Categoria
    {% else %}
        Crear Recordatori
    {% endif %}
{% endblock %}

{% block content %}
    {% if type == 'note' %}
        <h1>Crear Nota</h1>
    {% elif type == 'cate' %}
        <h1>Crear Categoria</h1>
    {% else %}
        <h1>Crear Recordatori</h1>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Guardar</button>
    </form>
{% endblock %}


