{% extends 'base.html' %}

{% block title %}Detalls de la Nota{% endblock %}

{% block content %}
    <h1>{{ note.title }}</h1>
    <p>{{ note.content }}</p>
    <p>Categories:
        {% for category in note.categories.all %}
            {{ category.nombre }}{% if not forloop.last %}<p>,</p>{% endif %}
        {% endfor %}
    </p>
    <a class="btn btn-primary" href="{% url 'edit_note' note.id %}">Editar</a>
    <a class="btn btn-danger" href="{% url 'delete_note' note.id %}">Eliminar</a>
{% endblock %}