{% extends 'base.html' %}

{% block title %}Llista de Recordatoris{% endblock %}

{% block content %}
    <h1>Llista de Recordatoris</h1>
    {% if reminders %}
        {% for reminder in reminders %}
            <div class="card">
                <div class="card-body">
                   <a href="{% url 'reminder_detail' reminder.id %}">{{ reminder.title }} - {{ reminder.description }}</a></li>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No hi ha cap nota recordatori.</p>
    {% endif %}
{% endblock %}
